$color_background-main: #f1efea;
$color_background-second: #e7e5e0;
$color_background-footer: #013838;
$color_background-hr: #ccc;
$color_background-button: #e6e6e6;
$color_background-pre: #eee;
$color_background-ins: #fff9c0;

$color_text: #2d2d2b;
$color_text-second: #935733;
$color_footer: #f1efea;
$color_link-visited: purple;
$color_link-hover: #935733;

$color_border: #2d2d2b;
