$color_background-body: #fff;
$color_background-hr: #ccc;
$color_background-button: #e6e6e6;
$color_background-pre: #eee;
$color_background-ins: #fff9c0;

$color_text: #1d1d1b;
$color_link: royalblue;
$color_link-visited: purple;
$color_link-hover: midnightblue;

$color_border-button: #ccc #ccc #bbb;
$color_border-button-hover: #ccc #bbb #aaa;
$color_border-button-focus: #aaa #bbb #bbb;
$color_border-input: #ccc;
$color_border-abbr: #666;
