// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Flex Between
@mixin flex-between {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;    
	justify-content: space-between;
	align-items: center;
}

// Flex Around
@mixin flex-around {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;  
	justify-content: space-around;
	align-items: center;
}

// Flex Around Wrap
@mixin flex-around-wrap {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

// Flex Between
@mixin flex-between-wrap {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}

// Flex Start Wrap
@mixin flex-start-wrap {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

// Lines
@mixin lines {
	margin: 0 auto 7.5em;
	position: relative;
	text-align: center;
}

// Lines heading
@mixin lines-heading {
	display: inline-block;
	padding: 0.25em 3% 0;
	background-color: #fdfdfd;
	position: relative;
	z-index: 1;
}

// Lines after
@mixin lines-after {
	content: '';
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #d1d1d2;
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 0;
}

// Placeholders
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
